/* 主样式表 */
* {
  margin:0;
  padding:0;
  border:0;
  font-family:"Microsoft Yahei","Arial","SimSun";
  font-size:14px;
}
body {
  height:auto;
  background-color:#FFFFFF;
}
div.top-panel {
  background-color:#2C4C60;
}
div.bottom-panel {
  display:block;
}
div.left-panel {
  background-color:#4C637B;
  float:left;
}
div.left-logo-box {
  width:72px;
  height:72px;
  background-color:#CCCCCC;
  border:4px #626262 solid;
  border-radius:40px;
  margin:15px auto;
}
div.left-logo-box img {
  width:72px;
  height:72px;
}
ul.left-item-box {
  width:180px;
  height:auto;
  padding-top:10px;
  list-style:none;
  margin:0 auto;
}
ul.left-item-box li {
  width:180px;
  height:35px;
  text-align:center;
  line-height:35px;
  background-color:#4C637B;
  color:#FFF!important;
  margin-top:10px;
  border-radius:5px;
  display:block;
}
ul.left-item-box a {
  text-decoration:none;
}
ul.left-item-box li:hover {
  background-color:#607FA0!important;
}
ul.left-item-box li.selected {
  background-color:#639AC1;
}
div.main-panel {
  height:auto;
  float:left;
}
div.bread-crumbs-bar {
  padding:0.3em;
}
div.bread-crumbs-bar ul {
  width:100%;
  height:1.5em;
  list-style:none;
}
div.bread-crumbs-bar ul li {
  float:left;
  height:1.5em;
  line-height:1.5em;
  color:#999999;
}
div.bread-crumbs-bar ul li.nav_item:before {
  content:">";
  padding:0 0.5em;
  color:#999999;
}
div.bread-crumbs-bar ul li a {
  color:#3E70C5;
  text-decoration:none;
}
div.bread-crumbs-bar ul li a:hover {
  color:#428BCA;
}
div.logo-box {
  width:157px;
  height:40px;
  margin:15px;
  display:block;
  background-image:url("../img/logo.png");
  float:left;
}
div.main-nav-bar {
  width:500px;
  height:70px;
  float:left;
}
div.main-nav-bar ul {
  width:100%;
  height:100%;
  list-style:none;
}
div.main-nav-bar ul li {
  float:left;
  display:block;
}
div.main-nav-bar ul li a {
  height:70px;
  padding:0 0.7em;
  text-align:center;
  line-height:70px;
  color:#BED9FC;
  font-size:1.15em;
  text-decoration:none;
  display:block;
}
div.main-nav-bar ul li a:hover {
  color:#FFFFFF;
}
div.main-nav-bar ul li a.selected {
  color:#FFFFFF;
  font-size:1.4em;
}
div.login-status-bar {
  width:293px;
  height:70px;
  padding-right:20px;
  text-align:right;
  line-height:70px;
  float:right;
}
div.login-status-bar a {
  color:#FFF;
}
div.login-status-bar a:hover {
  text-decoration:none;
}

/* 固定模板样式 */
div.table-line {
  width:100%;
  height:30px;
  margin-top:15px;
}
div.table-line div.table-item-a {
  width:50%;
}
div.table-line div.table-item-b {
  width:33.3%;
}
div.table-line div.table-item-c {
  width:25%;
}
div.table-line div.table-item-d {
  width:20%;
}
div.table-line div.table-item-a,
div.table-line div.table-item-b,
div.table-line div.table-item-c,
div.table-line div.table-item-d {
  height:30px;
  float:left;
}
div.table-item-name {
  width:25%;
  font-weight:bold;
  text-align:right;
  color:#333;
}
div.table-item-value {
  width:71%;
  text-align:left;
}
div.table-item-name,
div.table-item-value {
  height:30px;
  float:left;
  line-height:30px;
  padding:0 1%;
}
div.main-table {
  border:1px #CCC solid;
  border-radius:5px;
  width:auto;
  margin-top:15px;
}
div.main-table h2 {
  width:auto;
  height:4em;
  text-align:left;
  line-height:4em;
  font-size:1.2em;
  color:#3F4F65;
  padding-left:20px;
  background-image:url("../img/h2-bg.png");
  background-repeat:repeat;
  border-bottom:1px #CCC solid;
}
div.error-table {
  border-color:#FF7070!important;
  padding-bottom:10px;
}
div.error-table h2 {
  background-image:url("../img/h2-bg-red.png")!important;
  color:#FF5050;
  border-bottom-color:#FF7070!important;
  height:2em;
  line-height:2em;
}
div.error-table p {
  height:1.5em;
  padding:0 20px;
  line-height:1.5em;
  text-align:left;
  margin-top:10px;
  color:#FF5050;
}
div.page-nav-bar {
  padding:0 10px;
  width:auto;
  height:35px;
  display:block;
  margin:10px 0;
}
div.page-nav-bar a.button-field {
  min-width:21px;
}

/* 模块样式 */
h1 {
  height:2em;
  margin-top:1em;
  padding:0.5em;
  text-align:left;
  line-height:2em;
  font-size:1.3em;
  font-weight:bold;
  border-bottom:1px #CCC solid;
}
p {
  height:1.8em;
  padding:0.3em 0.5em;
  margin-top:1em;
  text-align:left;
  line-height:1.8em;
  color:#555;
}
span.error-hint {
  width:96%;
  height:30px;
  padding:0 2%;
  text-align:left;
  line-height:30px;
  color:#EE1010;
  display:block;
}
.text-field {
  width:96%;
  height:29px;
  padding:0 2%;
  text-align:left;
  line-height:30px;
  border-bottom:1px solid #333;
  transition:.3s;
  display:block;
  box-sizing:border-box;
}
.text-field:focus {
  border-bottom:1px solid #0BF;
}
.text-field:disabled {
  border-bottom:1px solid #AAA;
  color:#AAA;
  background-color:#FFF;
}
.hylight-field {
  border-bottom-color:#EE1010!important;
}
.button-field {
  width:auto;
  height:35px;
  padding:0 0.7em;
  text-align:center;
  line-height:35px;
  text-decoration:none!important;
  transition:.3s;
  background-color:#67BA2F;
  color:#FFF;
  border-radius:5px;
  display:block;
}
.button-field:hover {
  opacity:0.7;
}
.button-field:active {
  opacity:0.9;
}
.button-field:disabled {
  background-color:#AAA;
}
.ui-btn-a {
  width:300px!important;
  height:40px!important;
  line-height:40px!important;
  margin:0 auto;
}
.ui-btn-b {
  float:left;
  margin-right:10px;
  padding:0 0.5em;
}
.ui-btn-grey {
  background-color:#AAA!important;
  color:#FFF!important;
}
.ui-btn-purple {
  background-color:#9E8EE6!important;
  color:#FFF!important;
}
.ui-btn-orange {
  background-color:#E86940!important;
  color:#FFF!important;
}
table.disp_table {
  width:100%;
  border-collapse:collapse;
}
table.disp_table thead tr {
  background-color:#E3EAF3;
}
table.disp_table thead tr th {
  width:auto;
  height:35px;
  line-height:35px;
  text-align:left;
  padding:5px;
  color:#55759F;
  font-weight:bold;
}
table.disp_table tbody tr:nth-child(even) {
  background-color:#F9F9F9;
}
table.disp_table tbody tr:hover {
  background-color:#DAE4F2;
}
table.disp_table tbody tr td {
  width:auto;
  height:35px;
  line-height:35px;
  text-align:left;
  padding:5px;
}
