/* 主样式表 */
* {
  margin:0;
  padding:0;
  border:0;
  font-family:"Microsoft Yahei","Arial","SimSun";
  font-size:14px;
}
body {
  height:auto;
  background-color:#FFFFFF;
}
div.top-panel {
  background-color:#2C4C60;
}
div.bottom-panel {
  display:block;
}
div.left-panel {
  background-color:#4C637B;
  float:left;
}
div.left-logo-box {
  width:72px;
  height:72px;
  background-color:#CCCCCC;
  border:4px #626262 solid;
  border-radius:40px;
  margin:15px auto;
}
div.left-logo-box img {
  width:72px;
  height:72px;
}
ul.left-item-box {
  width:180px;
  height:auto;
  padding-top:10px;
  list-style:none;
  margin:0 auto;
}
ul.left-item-box li {
  width:180px;
  height:35px;
  text-align:center;
  line-height:35px;
  background-color:#4C637B;
  color:#FFF!important;
  margin-top:10px;
  border-radius:5px;
  display:block;
}
ul.left-item-box a {
  text-decoration:none;
}
ul.left-item-box li:hover {
  background-color:#607FA0!important;
}
ul.left-item-box li.selected {
  background-color:#639AC1;
}
div.main-panel {
  height:auto;
  float:left;
}
div.bread-crumbs-bar {
  padding:0.3em;
}
div.bread-crumbs-bar ul {
  width:100%;
  height:1.5em;
  list-style:none;
}
div.bread-crumbs-bar ul li {
  float:left;
  height:1.5em;
  line-height:1.5em;
  color:#999999;
}
div.bread-crumbs-bar ul li.nav_item:before {
  content:">";
  padding:0 0.5em;
  color:#999999;
}
div.bread-crumbs-bar ul li a {
  color:#3E70C5;
  text-decoration:none;
}
div.bread-crumbs-bar ul li a:hover {
  color:#428BCA;
}
div.logo-box {
  width:157px;
  height:40px;
  margin:15px;
  display:block;
  background-image:url("../img/logo.png");
  float:left;
}
div.main-nav-bar {
  width:500px;
  height:70px;
  float:left;
}
div.main-nav-bar ul {
  width:100%;
  height:100%;
  list-style:none;
}
div.main-nav-bar ul li {
  float:left;
  display:block;
}
div.main-nav-bar ul li a {
  height:70px;
  padding:0 0.7em;
  text-align:center;
  line-height:70px;
  color:#BED9FC;
  font-size:1.15em;
  text-decoration:none;
  display:block;
}
div.main-nav-bar ul li a:hover {
  color:#FFFFFF;
}
div.main-nav-bar ul li a.selected {
  color:#FFFFFF;
  font-size:1.4em;
}
div.login-status-bar {
  width:293px;
  height:70px;
  padding-right:20px;
  text-align:right;
  line-height:70px;
  float:right;
}
div.login-status-bar a {
  color:#FFF;
}
div.login-status-bar a:hover {
  text-decoration:none;
}

/* 固定模板样式 */
div.table-line {
  width:100%;
  height:30px;
  margin-top:15px;
}
div.table-line div.table-item-a {
  width:50%;
}
div.table-line div.table-item-b {
  width:33.3%;
}
div.table-line div.table-item-c {
  width:25%;
}
div.table-line div.table-item-d {
  width:20%;
}
div.table-line div.table-item-a,
div.table-line div.table-item-b,
div.table-line div.table-item-c,
div.table-line div.table-item-d {
  height:30px;
  float:left;
}
div.table-item-name {
  width:25%;
  font-weight:bold;
  text-align:right;
}
div.table-item-value {
  width:71%;
  text-align:left;
}
div.table-item-name,
div.table-item-value {
  height:30px;
  float:left;
  line-height:30px;
  padding:0 1%;
}

/* 模块样式 */
h1 {
  height:2em;
  margin-top:1em;
  padding:0.5em;
  text-align:left;
  line-height:2em;
  font-size:1.3em;
  font-weight:bold;
  border-bottom:1px #CCC solid;
}
p {
  height:1.8em;
  padding:0.3em 0.5em;
  margin-top:1em;
  text-align:left;
  line-height:1.8em;
  color:#555;
}
.text_field {
  width:96%;
  height:29px;
  padding:0 2%;
  text-align:left;
  line-height:30px;
  border-bottom:1px solid #000;
  transition:.3s;
  display:block;
}
.text_field:focus {
  border-bottom:1px solid #0BF;
}
.text_field:disabled {
  border-bottom:1px solid #AAA;
  color:#AAA;
  background-color:#FFF;
}
.button_field {
  width:auto;
  height:30px;
  padding:0 0.5em;
  text-align:center;
  line-height:2em;
  transition:.3s;
  background-color:#046;
  color:#FFF;
  border-radius:5px;
  display:block;
}
.button_field:hover {
  background-color:#6AD;
}
.button_field:active {
  background-color:#0BF;
}
.button_field:disabled {
  background-color:#AAA;
}
